<p style="text-align: center;"><span style="font-size: 12pt;"><strong>A MESSAGE FROM THE FUHRER:</strong></span></p>
<p><span style="font-size: 12pt;">Welcome to the Adolfcoin experiment, and thank you for your voluntary participation.</span></p>
<p><span style="font-size: 12pt;"><strong>TL;DR (as the kids say):</strong></span></p>
<p><span style="font-size: 12pt;">Join <a href="https://fuhrerbunker.adolfcoin.camp/">The F&uuml;hrerbunker</a>. Adolfcoin is not static, things are constantly changing. If you are not involved in the community you will probably end up losing any coins you mine. If you <b>are</b> active in the community you will not.</span></p>
<p><span style="font-size: 12pt;">Please bring more people into Adolfcoin so the Fuhrer can ignite the stage two burners on this rocket. The best people to bring in are fellow redpilled members of society: shitposters, meme war veterans, the enlightened, etc. But have no fear or hesitation, you can post about this anywhere you like as we have a 42 day purge cycle to remove shitminers.</span></p>
<hr />
<p><span style="font-size: 12pt;"><strong>Longer version:</strong></span></p>
<p><span style="font-size: 12pt;">As an initial miner, you have just as much ownership of this experiment as I do. You have just as much power to influence the future of Adolfcoin as I do. I'm not just saying this, it's actually <a href="http://adolfcoin.camp/strength-through-joy/developer-joy/index.html">true</a>, and in fact it's critically important.</span></p>
<p><span style="font-size: 12pt;">Here&rsquo;s a wild claim: Bitcoin and literally every single Altcoin created to date have a fundamental flaw which will prevent them from ever being able to scale to meet the demands of humanity - they will never free us from the stranglehold of banksters (perhaps none of them really try to). The flaw I'm talking about is a very human problem, the technical problems are merely symptoms.</span></p>
<p><span style="font-size: 12pt;">Adolfcoin is an experiment in utilizing Conway's Law and uniting large numbers of people in order to overcome this flaw. This ultimately means that:</span></p>
<p style="padding-left: 30px;"><span style="font-size: 12pt;">1. I can start the ball rolling, but if Adolfcoin <em>needs</em> centralized leadership it has failed. It must trend in the opposite direction.</span></p>
<p style="padding-left: 30px;"><span style="font-size: 12pt;">2. Centralized <em>decision making</em> is fundamentally incompatible with Adolfcoin. There can be no &lsquo;core&rsquo; dev team, no insiders and outsiders, no roundable meetings. Upfront consensus on what to build next is <em>not compatible</em> with Adolfcoin. A living system, not a planned one. A flat and free market, not a communist state. Evolution, not creationism. A drunken stumble to greatness.</span></p>
<p><span style="font-size: 12pt;">This sounds crazy (and maybe confusing), and yet the available data suggests that building a cryptocurrency in this manner is <em>probably</em> possible.</span></p>
<p><span style="font-size: 12pt;">The corollary of this is Adolfcoin will become leaderless and <em>completely</em> driven by the community.</span></p>
<p><span style="font-size: 12pt;">If you've got this far, you'll understand that I am now justified in claiming that the community is the alpha and the omega of Adolfcoin. Everything else is peripheral.</span></p>
<p><span style="font-size: 12pt;">You, as an initial miner, are of critical importance to the formation of the community and your next actions will decide the future of Adolfcoin.</span></p>
<p><span style="font-size: 12pt;">If you have even basic C++ skills (the kind learned after a few hours of reading) you can contribute to the development of Adolfcoin. If you want to learn C++ and perhaps one day launch your own currency, Adolfcoin is a great place to start.</span></p>
<p><span style="font-size: 12pt;">If you have no interest in coding, you can contibute to the Fuhrerbunker: need help? ask. See someone with a question? Help them. Found a dank meme? Post it.</span></p>
<p><span style="font-size: 12pt;">And of course, please invite others to Adolfcoin. There are now no limits on where you can post - the 42 day purge and the thousand year emission will keep us safe.</span></p>
