<p style="text-align: center;"><span style="font-size: 12pt;"><strong>AN IMPORTANT MESSAGE FROM THE FUHRER:</strong></span></p>
<p><span style="font-size: 12pt;">Welcome to the Adolfcoin experiment, and thank you for your voluntary participation.</span></p>
<p><span style="font-size: 12pt;"><strong>TL;DR (as the kids say):</strong></span></p>
<p><span style="font-size: 12pt;">Join <a href="https://fuhrerbunker.adolfcoin.camp/">The F&uuml;hrerbunker</a>. Adolfcoin is not static, things are constantly changing. If you are not involved in the community you will not be aware of things like forks, faster mining software, better pools, etc.</span></p>
<p><span style="font-size: 12pt;">It would be wunderbar if you could spread the word about Adolfcoin to fellow redpilled members of society, it's important that coins are distributed widely amongst our kind and not just in the hands of a few. Shitposters, meme war veterans, the enlightened, etc. <b>Tell two other worthy humans to mine some coins for themselves too.</b></span></p>
<p><span style="font-size: 12pt;">Please <b>do <em>not</em> share with normies or the 'cryptocurrency' crowd</b>, we aren't strong enough to fight them yet. Adolfcoin needs an immune system before being besieged by diseases like cultural Marxism, psychopathy, and general shitfuckery.</span></p>
<hr />
<p><span style="font-size: 12pt;"><strong>Longer version:</strong></span></p>
<p><span style="font-size: 12pt;">As an initial miner, you have just as much ownership of this experiment as I do. You have just as much power to influence the future of Adolfcoin as I do. I'm not just saying this, it's actually <a href="http://adolfcoin.camp/strength-through-joy/developer-joy/index.html">true</a>, and in fact it's critically important.</span></p>
<p><span style="font-size: 12pt;">Here&rsquo;s a wild claim: Bitcoin and literally every single Altcoin created to date have a fundamental flaw which will prevent them from ever being able to scale to meet the demands of humanity - they will never free us from the stranglehold of banksters (perhaps none of them really try to). The flaw I'm talking about is a very human problem, the technical problems are merely symptoms.</span></p>
<p><span style="font-size: 12pt;">Adolfcoin is an experiment in utilizing Conway's Law and uniting large numbers of people in order to overcome this flaw. This ultimately means that:</span></p>
<p style="padding-left: 30px;"><span style="font-size: 12pt;">1. I can start the ball rolling and perhaps act as spiritual guide for a while, but if Adolfcoin <em>needs</em> centralized leadership it has failed. It must trend in the opposite direction.</span></p>
<p style="padding-left: 30px;"><span style="font-size: 12pt;">2. Centralized <em>decision making</em> is fundamentally incompatible with Adolfcoin. There can be no &lsquo;core&rsquo; dev team, no insiders and outsiders, no roundable meetings. Upfront consensus on what to build next is <em>not compatible</em> with Adolfcoin. A living system, not a planned one. A flat and free market, not a communist state. Evolution, not creationism. A drunken stumble to greatness.</span></p>
<p><span style="font-size: 12pt;">This sounds crazy (and maybe confusing), and yet the available data suggests that building a cryptocurrency in this manner is <em>probably</em> possible.</span></p>
<p><span style="font-size: 12pt;">The corollary of this is Adolfcoin will become leaderless and <em>completely</em> driven by the community.</span></p>
<p><span style="font-size: 12pt;">If you've got this far, you'll understand that I am now justified in claiming that the community is the alpha and the omega of Adolfcoin. Everything else is peripheral.</span></p>
<p><span style="font-size: 12pt;">You, as an initial miner, are of critical importance to the formation of the community and your next actions will decide the future of Adolfcoin.</span></p>
<p><span style="font-size: 12pt;">It's important to keep the normies out for a while, I think the name will do that anyway, but don't encourage them. Don't tell the cryptocurrency crowd either, most of them have no interest in lofty ideals and they have no ambition, if they did they wouldn't be pump and dump shitcoin shills.</span></p>
<p><span style="font-size: 12pt;">Now go forth with confidence and spread the word. Help build the <em>right</em> community to guide Adolfcoin into the future. Tell our fellow redpilled members of society. Tell the shitposters, tell the meme war veterans, tell the enlightened and the based, wherever they are. It's worth repeating, do this now: 1) join <a href="https://fuhrerbunker.adolfcoin.camp/">The Fuhrerbunker</a> and start posting; and 2) <b>go and tell at least two people you trust to also start mining so they can get some coins too</b>.</span></p>
<p><span style="font-size: 12pt;">&nbsp;</span></p>
<p><span style="font-size: 12pt;">-The F&uuml;hrer</span></p>
<p><span style="font-size: 12pt;">&nbsp;</span></p>
